<div class="invoice-page-container">
  <div class="page-content" fxLayout="column" fxLayoutGap="10px">
    <mat-card>
      <mat-card-content>
        <h3>
          <mat-icon>receipt_long</mat-icon>
          Invoice Export
        </h3>
        <h4>
          Fill in all required details to generate the invoice.
        </h4>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <app-invoice-form
          (formDataChanged)="onFormDataChanged($event)"
          (formValidityChanged)="onFormValidityChanged($event)">
        </app-invoice-form>
        <div class="actions">
          <button mat-stroked-button color="primary" (click)="createInvoice()" [disabled]="!(canSubmit$ | async)">
            <mat-icon>send</mat-icon>
            <span>Submit</span>
          </button>
          <button mat-stroked-button color="warn" (click)="resetForm()">
            <mat-icon>refresh</mat-icon>
            Reset Form
          </button>
          <mat-spinner *ngIf="isSubmitting$ | async" diameter="20" class="button-spinner"></mat-spinner>
          <span *ngIf="isSubmitting$ | async">Generating Invoice...</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

